.item{
    width:350px;
}

.item p{
    margin:6px 0px;
}

.item-prices{
    display: flex;

}

.item-price-new{
    color:black;
    font-size: 18px;
    font-weight: 600;
    gap:10px;
}

.item-price-old{
    color:grey;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
    

}

.item:hover{
    transform:scale(1.06);
    transition:0.6s;
}
