.navbar
{
  
    display: flex;
    padding: 16px;
    justify-content: space-between;
    box-shadow: 1px 3px 5px -3px black;
}

.nav-logo 
{
  display: flex;
  align-items: center;
  gap:10px;
}

.nav-logo p{
    color:black;
    font-size: 40px;
    font-weight: 700;
}

.nav-menu 
{
    display:flex;
    align-items: center;
    list-style: none;
    gap:50px;
    color:black;
    font-size:20px;
    font-weight: 500;

}

.nav-menu li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    
}

.nav-menu li h{
    border:none;
    width:80%;
    height:3px;
    border-radius:10px;
    background:black;
}

.nav-logo-cart{
    display: flex;
    align-items:center;
    gap:45px;
}

.nav-logo-cart button{
    width: 200px;
    height:60px;
    outline: none;
    border: 1px solid purple ;
    border-radius: 75px;
    color:white;
    font-size:20px;
    font-weight:500;
    background:black;
    cursor:pointer

}

.nav-logo-cart button:active{
    background:whitesmoke;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color:white;
}